// https://stackoverflow.com/a/48705453/13686747 -- reference
// TODO: Convert to Variant font type -- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 100'), url('../font/Work\ Sans/WorkSans-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 100'), url('../font/Work\ Sans/WorkSans-Thin.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 100'), url('../font/Work\ Sans/WorkSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 200'), url('../font/Work\ Sans/WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 200'), url('../font/Work\ Sans/WorkSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 300'), url('../font/Work\ Sans/WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 300'), url('../font/Work\ Sans/WorkSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 400'), url('../font/Work\ Sans/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

// @font-face {
//     font-family: 'Work Sans';
//     src: local('Work Sans 400'), url('../font/Work\ Sans/WorkSans-RegularItalic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 500'), url('../font/Work\ Sans/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 500'), url('../font/Work\ Sans/WorkSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 600'), url('../font/Work\ Sans/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 600'), url('../font/Work\ Sans/WorkSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 700'), url('../font/Work\ Sans/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 700'), url('../font/Work\ Sans/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 700'), url('../font/Work\ Sans/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 800'), url('../font/Work\ Sans/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 800'), url('../font/Work\ Sans/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 800'), url('../font/Work\ Sans/WorkSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 900'), url('../font/Work\ Sans/WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Work Sans';
    src: local('Work Sans 900'), url('../font/Work\ Sans/WorkSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}